* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: HeyComic;
  src: url(Bodo\ Amat.ttf);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

nav {
  font-family: "Poppins", system-ui;
  font-size: 16px;
  display: flex;
  background-color: rgb(205, 228, 255);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 58px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a.aktif {
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-thickness: 3px;
}

.logo {
  font-family: "Poppins", system-ui;
  font-weight: 600;
}

.content {
  text-align: center;
  height: calc(100vh - 116px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.content .winaya h1 {
  font-family: "Poppins", system-ui;
  font-size: 50px;
}

.content .quotes {
  font-family: "Poppins", system-ui;
  font-size: 25px;
}

.content .bluberi {
  position: absolute;
  width: 250px;
  right: 50px;
}

.content .stroberi {
  position: absolute;
  width: 250px;
  left: 50px;
}

footer {
  font-family: "Poppins", system-ui;
  text-align: center;
  background-color: rgb(205, 228, 255);
  padding: 20px 0px;
  height: 58px;
}

.logo {
  font-family: "Poppins", system-ui;
  font-weight: 600;
}

/* untuk tablet */
@media (max-width: 1440px) {
  .content .bluberi {
    position: absolute;
    right: 50px;
    bottom: 140px;
  }

  .content .stroberi {
    position: absolute;
    left: 10px;
    top: 140px;
  }
}

/* untuk mobile */
@media (max-width: 768px) {
    
    .content .bluberi {
        width: 100px;
        right: 10px;
    bottom: 20rem;
    }
        .content .stroberi {
            width: 100px;
            left: 10px;
    top: 20rem;
        }

    .content .winaya h1 {
        font-size: 30px;
    }

    .content .quotes {
        font-size: 15px;
        width: 80%;
    }
}
